<div>
  <div>
    <mat-toolbar *appIsInRole="'admin'" color="primary">
      <span>
        <button (click)="add()" *appIsInRole="'admin'" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
          {{'department.button_new' | translate}}
        </button>
      </span>
    </mat-toolbar>
  </div>
  <table [dataSource]="departmentDataSource" class="mat-elevation-z8 departments-table" mat-table>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
        <button (click)="edit(element)" *appIsInRole="'admin'" color="primary" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" *appIsInRole="'admin'" color="warn" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{'department.name' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
                 showFirstLastButtons>
  </mat-paginator>
</div>

