<div>
  <div>
    <mat-toolbar *appIsInRole="'admin'" color="primary">
      <span>
        <button (click)="add()" *appIsInRole="'admin'" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
          {{'category.button_new' | translate}}
        </button>
      </span>
    </mat-toolbar>
  </div>
  <table [dataSource]="categoryDataSource" class="mat-elevation-z8 categories-table" mat-table>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
        <button (click)="edit(element)" *appIsInRole="'admin'" color="primary" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" *appIsInRole="'admin'" color="warn" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{'category.name' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="colorCode">
      <th *matHeaderCellDef mat-header-cell>{{'category.colorCode' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        <span [style.background-color]="element.colorCode" style="display: inline-block; width: 24px; height: 24px; border-radius: 4px; border: 1px solid #ccc; vertical-align: middle; margin-right: 8px;"></span>
        {{element.colorCode}}
      </td>
    </ng-container>
    <ng-container matColumnDef="globalFlag">
      <th *matHeaderCellDef mat-header-cell>{{'category.globalFlag' | translate}}</th>
      <td *matCellDef="let element" mat-cell>
        @if (element.globalFlag) {
          <mat-icon color="primary">check_circle</mat-icon>
        } @else {
          <mat-icon color="warn">cancel</mat-icon>
        }
      </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
    showFirstLastButtons>
  </mat-paginator>
</div>
