.demoapp-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.demoapp-sidenav-content {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-top: solid 1px rgba(0, 0, 0, .12);
  overflow: hidden;
}

.demoapp-sidenav {
  padding-top: 20px;
  padding-left: 0px;
  max-width: 200px;
}
