<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <button (click)="back()" color="primary" mat-button style="color: white">
          <mat-icon>arrow_back_ios</mat-icon>
          {{ 'main.button_back' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app-form">
    <form (ngSubmit)="save(objForm.value)" [formGroup]="objForm!">
      <mat-form-field style="width: 100%;">
        <mat-label>{{ 'transaction.amount' | translate }}</mat-label>
        <input appAutofocus formControlName="amount" matInput type="number" step="0.01" min="0.01" required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>{{ 'transaction.date' | translate }}</mat-label>
        <input [matDatepicker]="pickerDate" formControlName="date" matInput required>
        <mat-datepicker-toggle [for]="pickerDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #pickerDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>{{ 'transaction.type' | translate }}</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="INCOME">{{ 'transaction.typeIncome' | translate }}</mat-option>
          <mat-option value="EXPENSE">{{ 'transaction.typeExpense' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>{{ 'transaction.category' | translate }}</mat-label>
        <mat-select formControlName="categoryId" required>
          @for (c of categories; track c.id) {
            <mat-option [value]="c.id">
              <span [style.background-color]="c.colorCode" style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 6px; vertical-align: middle;"></span>
              {{c.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>{{ 'transaction.description' | translate }}</mat-label>
        <textarea #inputDesc cdkAutosizeMaxRows="10" cdkAutosizeMinRows="4" cdkTextareaAutosize formControlName="description" matInput maxlength="255"></textarea>
        <mat-hint align="end">{{inputDesc.value.length || 0}}/255</mat-hint>
      </mat-form-field>
      <button [disabled]="!objForm.valid" color="primary" mat-raised-button style="width: 200px">
        {{ 'main.button_save' | translate }}
      </button>
    </form>
  </div>
</div>
