<div>
  <div>
    <mat-toolbar *appIsInRole="'update'" color="primary">
      <span>
        <button (click)="add()" *appIsInRole="'update'" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
          {{'vehicleUsage.button_new' | translate}}
        </button>
      </span>
    </mat-toolbar>
  </div>
  <table [dataSource]="vehicleUsageDataSource" class="mat-elevation-z8 vehicles-table" mat-table>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
        <button (click)="edit(element)" *appIsInRole="'update'" color="primary" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" *appIsInRole="'update'" color="warn" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="fromDate">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.fromDate' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.fromDate | date:'dd.MM.yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="toDate">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.toDate' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.toDate | date:'dd.MM.yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="fromLocation">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.fromLocation' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.fromLocation}} </td>
    </ng-container>
    <ng-container matColumnDef="toLocation">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.toLocation' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.toLocation}} </td>
    </ng-container>
    <ng-container matColumnDef="km">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.km' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.km | number: '1.2-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicle">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.vehicle' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.vehicle?.licence}} </td>
    </ng-container>
    <ng-container matColumnDef="employee">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.employee' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.employee?.badge}} </td>
    </ng-container>
    <ng-container matColumnDef="text">
      <th *matHeaderCellDef mat-header-cell>{{'vehicleUsage.text' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.text}} </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
                 showFirstLastButtons>
  </mat-paginator>
</div>

