<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <button (click)="back()" color="primary" mat-button style="color: white">
          <mat-icon>arrow_back_ios</mat-icon>
          {{ 'main.button_back' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app-form">
    <form (ngSubmit)="save(objForm.value)" [formGroup]="objForm!">
      <mat-form-field>
        <mat-label>{{ 'employee.badge' | translate }}</mat-label>
        <input #inputBadge appAutofocus formControlName="badge" matInput maxlength="20" required>
        <mat-hint align="end">{{inputBadge.value.length || 0}}/20</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'employee.name' | translate }}</mat-label>
        <input #inputName formControlName="name" matInput maxlength="100" required>
        <mat-hint align="end">{{inputName.value.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'employee.firstname' | translate }}</mat-label>
        <input #inputFirstname formControlName="firstname" matInput maxlength="100" required>
        <mat-hint align="end">{{inputFirstname.value.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'employee.department' | translate }}</mat-label>
        <mat-select formControlName="departmentId" required>
          @for (department of departments; track department) {
            <mat-option [value]="department.id">
              {{department.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button [disabled]="!objForm.valid" color="primary" mat-raised-button style="width: 200px">
        {{ 'main.button_save' | translate }}
      </button>
    </form>
  </div>
</div>
